{{define "content"}}
<h1>Statistiky</h1>
<div class="card">
    <p>
        Aktivní datové zdroje:
        <span id="sensor-count" style="color: var(--accent); font-size: 2rem"
            >0</span
        >
    </p>
    <ul id="sensor-list" style="color: #888; font-size: 0.9rem"></ul>
</div>

<script>
    async function loadFacts() {
        const response = await fetch("/api/v1/latest?limit=200");
        const data = await response.json();

        if (data) {
            // Unikátní klíč: Zařízení + Metrika
            const sensors = new Set(
                data.map((i) => `${i.device_id}:${i.metric}`),
            );
            document.getElementById("sensor-count").innerText = sensors.size;

            const list = document.getElementById("sensor-list");
            list.innerHTML = Array.from(sensors)
                .map((s) => `<li>${s}</li>`)
                .join("");
        }
    }
    loadFacts();
</script>
{{end}}
